---
import { getCollection } from "astro:content";
import Base from "@/layouts/base.astro";

const posts = (await getCollection("que-hacemos")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<Base title="Que hacemos?">
  <main>
    <section>
      <ul class="grid grid-cols-1 gap-4 px-8 md:px-0 md:grid-cols-3 md:gap-2">
        {
          posts.map((post) => (
            <li>
              <div class="card bg-base-100 shadow-xl">
                <figure>
                  <img src="https://placehold.co/600x400" alt="Shoes" />
                </figure>
                <div class="card-body">
                  <a class="card-title" href={`/que-hacemos/${post.slug}/`}>
                    {post.data.title}
                  </a>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>
