---
import Base from "@/layouts/base.astro";
---

<Base title="Contacto">
  <form
    name="contact"
    class="grid gap-2 mx-auto w-full max-w-prose"
    data-netlify="true"
  >
    <input
      name="email"
      type="text"
      placeholder="Email"
      class="input input-bordered input-lg input-ghost w-full"
    />
    <textarea
      name="message"
      class="textarea textarea-bordered textarea-lg textarea-ghost"
      placeholder="Mensaje"></textarea>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</Base>
