---

---

<nav>
  <!-- Desktop -->
  <div class="hidden md:flex justify-between py-4">
    <div>
      <a href="/">AFAAD</a>
    </div>
    <div class="flex gap-6">
      <a href="/nosotros/">Quienes somos</a>
      <a href="/novedades/">Novedades</a>
      <a href="/contacto/">Contacto</a>
    </div>
  </div>
  <!-- Mobile -->
  <div class="md:hidden flex flex-col py-4" x-data="{ isOpen: false }">
    <div class="flex justify-between py-4">
      <a href="/">AFAAD</a>
      <button @click="isOpen = !isOpen" type="button">
        <span x-show="!isOpen">Menu</span>
        <span x-show="isOpen" x-cloak>X</span>
      </button>
    </div>
    <div
      class="flex flex-col gap-4 py-4 z-50"
      :class="isOpen ? 'block' : 'hidden'"
      x-cloak
    >
      <a href="/nosotros/">Quienes somos</a>
      <a href="/novedades/">Novedades</a>
      <a href="/contacto/">Contacto</a>
    </div>
  </div>
</nav>
