---

---

<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">AFAAD</h1>
      <p class="py-6">
        Asociaci贸n Filantr贸pica de Ayuda a Adictos Duales para la Prevenci贸n de
        la Drogadicci贸n
      </p>
      <!--
        <button class="btn btn-primary">Get Started</button>
      -->
    </div>
  </div>
</div>
