---
// https://docs.astro.build/basics/astro-components/
import Nav from "@/components/Nav.astro";
import Hero from "@/components/Hero.astro";
const { h1, p, button = null } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="max-w-screen-md px-2 mx-auto flex flex-col gap-8">
      <Nav />
      <Hero h1={h1} p={p} button={button} />
      <slot />
    </main>
  </body>
</html>
